@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* Variable Colors */
:root {
  --bg-color: #F3FDE4;
  --text-color: #111827;
  --heading-color: #1f2937;
  --subheading-color: #374151;
  --muted-text-color: #4b5563;
  /* --primary-color: #509717;
  --primary-hover: #3e681c; */
  --primary-color: #22c55e;
  --primary-hover: #15803d;
  --secondary-color: #6b7280;
  --secondary-hover: #4b5563;
  --card-bg: #ffffff;
  --shadow-color: rgba(0, 0, 0, 0.1);
}

/* Base Styles */
body {
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 1.875rem; /* 3xl */
  font-weight: 700;
}

h2 {
  font-size: 1.5rem; /* 2xl */
  font-weight: 600;
}

h3 {
  font-size: 1.25rem; /* xl */
  font-weight: 500;
}

.body {
  position: relative;
  overflow: hidden;
}

/* Wrapper untuk efek blur */
.glow-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1; /* Tetap di belakang konten */
  pointer-events: none; /* Pastikan tidak mengganggu interaksi dengan elemen lain */
  overflow: hidden;
}

/* Efek glow blur */
.glow {
  position: absolute;
  filter: blur(150px);
  opacity: 1;
  pointer-events: none; /* Pastikan glow tidak mengganggu interaksi */
}
/* 
.glow.green {
  background: #00ff7f;
}

.glow.pink {
  background: #ff69b4;
} */



/* Card Styles */
.card {
  padding: 1rem;
  background-color: var(--card-bg);
  box-shadow: 0 4px 6px var(--shadow-color);
  border-radius: 0.5rem;
}
